.bg {
  background-color: white;
}
ul,
li {
  list-style-type: none !important;
  margin: 0px !important;
}
a {
  text-decoration: none !important;
}
body {
  font-family: "Poppins", sans-serif;
}
.main_navbar {
  /* background-image: url(../assets/asset\ 17.jpeg); */
  width: 100%;
  height: 100vh;
  background-position: center;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}
#menu1 {
  opacity: 0;
  visibility: hidden;
}
.main_navbar::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  position: absolute;
  left: 0;
}
.bars {
  color: black;
  font-size: 23px;
}
.logo {
  width: 100px;
  align-items: center;
  display: flex;
}
.logo img {
  width: 100%;
}
#logo img{
  width: 100%;
  object-fit: cover;
}

.Navbar {
  padding: 23px 50px;
  z-index: 4;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navbar {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 40px 50px 0px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

#navbar #logo {
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
}
.main_menu{
  display: flex;
}

.main_menu li {
  padding: 14px 23px;
}
.main_menu li a {
  color: black;
  font-size: 16px;
  font-weight: 300;
}
.mobilemenu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 30px 0px !important;
}
.mobilemenu li {
  padding: 15px 25px;
}
.mobilemenu li a {
    color: black !important;
    font-size: 16px;
    font-weight: 300;
  }
.bar {
  display: none;
}

@media (max-width: 770px) {
  .main_menu li {
    padding: 14px 10px;
  }
}
@media (max-width: 600px) {
  .menu {
    display: none;
  }
  .bar {
    display: block !important;
    z-index: 5;
  }
}
@media (max-width:426px) {
  #navbar #logo{
    font-size: 30px;
  }
  #navbar{
    padding: 0px 10px 0px !important;
  }
}
